		#first{
			position: absolute;
			
		}
		#bigbox{
			width: 200px;
			height: 200px;
			border-radius:150px;
			background-color:pink;
			overflow:hidden;
			position: relative;
			float:left;

		}
		img{
			
			width:400px;
			height: 200px;
		}
		#box1{
			position: absolute;
		}
		#box2{
			position: absolute;
			left:-260px;
		}
		#box3{
			position: absolute;
		}
		@keyframes box2{
		0%{margin-left:0px;}
		100%{margin-left:400px;}
		}

		
		
		@keyframes box1{
		0%{margin-left:0;}
		100%{margin-left:-200px;}
		}
		
		
		@keyframes box3{
		0%{margin-left:0;}
		100%{margin-left:-200px;}
		}

		
		.firstWord{
			width: 200px;
			height: 20px;
			color:lightblue;
			position: absolute;
			top:-50px;
			text-align: center;
			display: none;
		}